<img src="assets/img/avatar.png" alt="Avatar" class="avatar">
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">

    <mat-card class="example-card">
        <mat-card-header>
            <img mat-card-avatar src="assets/img/avatar.png" alt="Avatar">
            <mat-card-title>{{usuario.nombre|titlecase}}</mat-card-title>
            <mat-card-subtitle>{{usuario.apellidos|titlecase}}</mat-card-subtitle>
            <mat-card-subtitle>{{usuario.email|lowercase}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <button mat-menu-item>
        <mat-icon  fontSet="fa" fontIcon="fa-user"></mat-icon>
        <span>Mi perfil</span>
      </button>
            <button mat-menu-item (click)="logout()">
        <mat-icon  fontSet="fa" fontIcon="fa-sign-out-alt"></mat-icon>
        <span>Cerrar sesión</span>
      </button>
        </mat-card-content>

    </mat-card>

</mat-menu>