<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title> Registre su nueva contraseña</mat-card-title>
    <form [formGroup]="newPasswordForm" (ngSubmit)="cambiar()">
      <mat-card-content>
        <mat-form-field class="login">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña" type="password" formControlName="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="password.hasError('required')">
            La <strong> contraseña </strong> es requerida
          </mat-error>
          <mat-error *ngIf="password.errors?.minlength">
            La <strong> contraseña </strong> es demasiado corta
          </mat-error>
          <mat-error *ngIf="password.errors?.espaciosblancos">
            La <strong> contraseña </strong> no debe contener espacios
          </mat-error>
        </mat-form-field>

        <mat-form-field class="login">
          <mat-label>Confirmar la contraseña</mat-label>
          <input matInput placeholder="Confirmar la contraseña" type="password" formControlName="newpassword">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="newpassword.hasError('required')">
            La <strong> contraseña </strong> es requerida
          </mat-error>
          <mat-error *ngIf="newpassword.errors?.minlength">
            La <strong> contraseña </strong> es demasiado corta
          </mat-error>
          <mat-error *ngIf="newpassword.errors?.espaciosblancos">
            La <strong> contraseña </strong> no debe contener espacios
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="newPasswordForm.invalid">Cambiar contraseña</button>

      </mat-card-content>
    </form>
    <!-- <form [formGroup]="emailForm" #formDirective="ngForm" (ngSubmit)="restablecer(formDirective)">

      <mat-card-content>
        <mat-form-field>
          <mat-label>Correo electronico</mat-label>
          <input matInput placeholder="Correo electronico" id="myInput" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.hasError('email')">
            El <strong> correo electronico </strong> no es valido
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            El <strong> correo electronico </strong> es requerido
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="emailForm.invalid">Restablecer</button>

      </mat-card-content>
    </form> -->
  </mat-card>
</div>
