.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #303F9F;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

mat-card {
    width: 30%;
    margin: 5% auto;
    border-radius: 8px;
}

mat-card-content {
    padding: 10px;
}

mat-form-field {
    margin-top: 10px;
    width: 100%;
}

button {
    margin-top: 10px;
    width: 100%;
}