<form [formGroup]="usuarioLoginForm" (ngSubmit)="loginUser()">
  <mat-form-field class="login">
    <mat-label>Correo electronico</mat-label>
    <input matInput placeholder="Correo electronico" formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="email.hasError('email')">
      El <strong> correo electronico </strong> no es valido
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      El <strong> correo electronico </strong> es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="login">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" type="password" formControlName="password">
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error *ngIf="password.hasError('required')">
      La <strong> contraseña </strong> es requerida
    </mat-error>
    <mat-error *ngIf="password.errors?.minlength">
      La <strong> contraseña </strong> es demasiado corta
    </mat-error>
    <mat-error *ngIf="password.errors?.espaciosblancos">
      La <strong> contraseña </strong> no debe contener espacios
    </mat-error>
  </mat-form-field>
  <a class="forgetLabel" [routerLink]="['/restablecer']"   >¿Olvidaste tu contraseña?</a>
  <button mat-raised-button color="primary" class="login" [disabled]="usuarioLoginForm.invalid">Iniciar sesión</button>

</form>
