<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Iniciar sesión">
        <mat-card-content>
          <div class="login-container">
            <app-login-form></app-login-form>
          </div>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Registrarse">
        <div class="login-container">
          <app-register-form></app-register-form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
