<form [formGroup]="usuarioForm" #formDirective="ngForm" (ngSubmit)="registrarUsuario(usuarioForm,formDirective)">
    <mat-form-field class="login">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre">
        <mat-icon matSuffix>face</mat-icon>
        <mat-error *ngIf="nombre.hasError('required')">
            El <strong> nombre </strong> es requerido
        </mat-error>
        <mat-error *ngIf="nombre.errors?.nombreValidator">
            No puede haber espacios al inicio del<strong> nombre </strong>
        </mat-error>

    </mat-form-field>

    <mat-form-field class="login">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" formControlName="apellidos">
        <mat-icon matSuffix>face</mat-icon>
        <mat-error *ngIf="apellidos.hasError('required')">
            El <strong> apellidos </strong> es requerido
        </mat-error>
        <mat-error *ngIf="apellidos.errors?.nombreValidator">
            No puede haber espacios al inicio del<strong> apellido </strong>
        </mat-error>

    </mat-form-field>

    <mat-form-field class="login">
        <mat-label>Correo electronico</mat-label>
        <input matInput placeholder="Correo electronico" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email.hasError('email')">
            El <strong> correo electronico </strong> no es valido
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
            El <strong> correo electronico </strong> es requerido
        </mat-error>

    </mat-form-field>

    <mat-form-field class="login">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" type="password" formControlName="password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="password.hasError('required')">
            La <strong> contraseña </strong> es requerida
        </mat-error>
        <mat-error *ngIf="password.errors?.minlength">
            La <strong> contraseña </strong> es demasiado corta
        </mat-error>
        <mat-error *ngIf="password.errors?.espaciosblancos">
            La <strong> contraseña </strong> no debe contener espacios
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="login" [disabled]="usuarioForm.invalid">Registrarse</button>
</form>