<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Mis tareas</h1>
    <span class="example-spacer"></span>
    <app-user-navbar></app-user-navbar>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']">
          <mat-icon fontSet="fa" fontIcon="fa-briefcase"></mat-icon>
          Mis proyectos
        </a>
        <a mat-list-item [routerLink]="[{outlets:{sidebar:'crear-proyecto'}}]">
          <mat-icon fontSet="fa" fontIcon="fa-plus-circle"></mat-icon>
          Crear proyecto
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet name="sidebar"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
