<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title> Restablecer la contraseña</mat-card-title>
    <form [formGroup]="emailForm" #formDirective="ngForm" (ngSubmit)="restablecer(formDirective)">

      <mat-card-content>
        <mat-form-field>
          <mat-label>Correo electronico</mat-label>
          <input matInput placeholder="Correo electronico" id="myInput" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.hasError('email')">
            El <strong> correo electronico </strong> no es valido
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            El <strong> correo electronico </strong> es requerido
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="emailForm.invalid">Restablecer</button>

      </mat-card-content>
    </form>
  </mat-card>
</div>
